mixin slide4
    +b('section')
        +e('section')
            +e('h1')!= "4. UI-KIT"

            +b('aside').notes
                +e('p')!= "UI Kit is a file with a lot of useful components – User Interface Elements – for user interface design."

                +e('p')!= "UI Kit should contain following information:"

        +e('section')
            +e('h6')!= "4.1 UI-KIT"

            +e('img')(src="images/vis-slide4-1.png")

            +b('aside').notes
                +e('p')!= "Typography. Here we can see information about all text elements, such as headings, paragraphs, links, ordered list, unordered list and so on."

        +e('section')
            +e('h6')!= "4.2 UI-KIT"

            +e('img')(src="images/vis-slide4-2.png")

            +b('aside').notes
                +e('p')!= "Colors. Here is a list of all colors used in project."

        +e('section')
            +e('h6')!= "4.3 UI-KIT"

            +e('img')(src="images/vis-slide4-3.png")

            +b('aside').notes
                +e('p')!= "Form elements and all other ui elements."

        +e('section')
            +e('h6')!= "4.4 UI-KIT"

            +e('img')(src="images/vis-slide4-4.png")

            +b('aside').notes
                +e('p')!= "This is example of good UI Kit."

                +e('p')!= "Ok, I think you got the main idea."

