mixin slide5
    +b('section')
        +e('section')
            +e('h1')!= "5. Responsive"

        +e('section')
            +e('h6')!= "5.1 Responsive"

            +e('img')(src="images/vis-slide5-1.png")

            +b('aside').notes
                +e('p')!= "Here I only want to say about keeping elements order in tablet and mobile version of design."

                +e('p')!= "We can see that desktop and mobile version have equal elements order in block footer."

                +e('p')!= "Logo, navigation, social buttons, developer logo. The same in mobile: logo, navigation, social buttons, developer logo."

                +e('p')!= "It is not terribly hard to change elements order in html, but it takes some time to implements this and if it possible I strongly recommend not to change elements order in responsive version of design."
