include ../intro/intro
include ../slide1/slide1
include ../slide2/slide2
include ../slide3/slide3
include ../slide4/slide4
include ../slide5/slide5
include ../slide6/slide6
include ../outro/outro

mixin print
    +b('div').print
        +e('div').wrapper
            +intro

            +slide1

            +slide2

            +slide3

            +slide4

            +slide5

            +slide6

            +outro
