extends ../jade/layout

block head
    - var pageDescription="Presentation for designers";
    - var pageKeywords="Presentation for designers";
    - var pageTitle="Presentation for designers";

block content
    include ../blocks/slide1/slide1
    include ../blocks/slide2/slide2


    +slide1
    +slide2
