extends ../jade/layout

block vars
    - var innerPage = true

block head
    - var pageDescription="Presentation for designers";
    - var pageKeywords="Presentation for designers";
    - var pageTitle="Presentation for designers";

block content
    include ../blocks/print/print

    +print
