mixin outro
    +b('section')
        +e('section')
            +e('h1')!= "The end"

            +b('aside').notes
                +e('p')!= "I hope that this small presentation will help designers and developers interact with each other faster and more efficiently!"

                +e('p')!= "Thank you!"
