mixin slide1
    +b('section')
        +e('section')
            +e('h1')!= "1. One sketch file for project"

        +e('section')
            +e('h6')!= "1. One sketch file for project"

            +e('img')(src="images/vis-slide1-1.png")

            +b('aside').notes
                +e('p')!= "Here we can see one sketch file and it stores design for all project."

                +e('p')!= "There is a list of pages on the left side of the screenshot."

                +e('p')!= "Each page contain design for desktop, tablet and mobile."

                +e('p')!= "This approach allows us to structure and organize information."

                +e('p')!= "It also allows us to interact faster and much more efficient with design files."

                +e('p')!= "All changes should be implemented only in this file."

                +e('p')!= "And because of it we can always have current version of project design. Everyone in team knows where it is stored and everyone can interact with it."


