mixin intro
    +b('section')
        +e('section')
            +e('h1')!= "Preparing design for html"

            +b('aside').notes
                +e('p')!= "I prepared this presentation to show how we can optimize and speed up our work process."

                +e('p')!= "Here I have got a list of proposals for designers on how they can help frontend developers."

                +e('p')!= "If you have some suggestions or if you disagree with the information on slides please let me know."
