mixin slide6
    +b('section')
        +e('section')
            +e('h1')!= "6. Fast communications"

            +b('aside').notes
                +e('p')!= "And the last my recommendation is to use fast communications and to help each other with fast and useful answers."
